<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

<ion-header [translucent]="true">
  <ion-toolbar class="grad">

    <ion-buttons slot="start" style="color: white;">
      <ion-back-button ></ion-back-button>
    </ion-buttons>

    <ion-title style="color: white; align-items: center;">AmbienceMax</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="bgimg">

  <ion-card>
    <ion-card-header>
      <h5 style="text-align: center;">Approval Status</h5>
    </ion-card-header>

    <hr>

    <ion-row class="header-row">

      <ion-col size="2" size-md="4" size-lg="2" style="font-size: 10px;">
        Role Id
      </ion-col>  
  
      <ion-col size="4" size-md="4" size-lg="2" style="font-size: 10px;">
        Designation
      </ion-col> 

      <ion-col size="5" size-md="4" size-lg="2" style="font-size: 10px;">
        Status
      </ion-col> 
  
    </ion-row>

    <ion-row *ngFor="let role of this.RequestService.role1; let i = index;">

      <ion-col size="2" size-md="4" size-lg="2" style="font-size: 10px;" *ngIf= "i>=0">

        {{ role.role_id }}

      </ion-col>

      <ion-col size="4" size-md="4" size-lg="2" style="font-size: 10px;" *ngIf= "i>=0">

        {{ role.role_name }}

      </ion-col>

      <ion-col *ngIf = "role.role_id >= this.RequestService.viewReq.req_level">

        <span  style="background-color: brown; border-radius:10px; color:white; font-size: 10px;">
          {{RequestService.viewReq.req_status}}
        </span>

      </ion-col>

      <ion-col *ngIf = "role.role_id<this.RequestService.viewReq.req_level">

        <span  style="background-color: green; border-radius:10px; color:white; font-size: 10px;">
          Approved
        </span>

      </ion-col>

    </ion-row>



  </ion-card>


</ion-content>
