
<ion-content [fullscreen]="true">

  
  <ion-list lines="full">

    <ion-item >

    

      <ion-col size="1" size-md="4" size-lg="2" style="font-size: 18px; font-weight: bold;">
        #
      </ion-col>  
  
      <ion-col size="4" size-md="4" size-lg="2" style="font-size: 18px; font-weight: bold;">
        Req Info
      </ion-col> 

      <ion-col  size-md="4" size-lg="2" style="font-size: 18px; font-weight: bold;">
        Data
      </ion-col> 
  
    

  </ion-item>

  <ion-item class="item_background" >

    

      <ion-col size="1" size-md="4" size-lg="2" style="font-size: 15px;">
        1.
      </ion-col>  
  
      <ion-col size="4" size-md="4" size-lg="2" style="font-size: 15px;">
        Request ID
      </ion-col> 

      <ion-col  size-md="4" size-lg="2" style="font-size: 15px;">
        {{ req_id }}
      </ion-col>      

    

  </ion-item>

  <ion-item>

    

      <ion-col size="1" size-md="4" size-lg="2" style="font-size: 15px;">
        2.
      </ion-col>  
  
      <ion-col size="4" size-md="4" size-lg="2" style="font-size: 15px;">
        Request Title
      </ion-col> 

      <ion-col  size-md="4" size-lg="2" style="font-size: 15px;">
        {{ req_title }}
      </ion-col>      

   

  </ion-item>

  <ion-item class="item_background">

    

      <ion-col size="1" size-md="4" size-lg="2" style="font-size: 15px;">
        3.
      </ion-col>  
  
      <ion-col size="4" size-md="4" size-lg="2" style="font-size: 15px;">
        Request Type
      </ion-col> 

      <ion-col  size-md="4" size-lg="2" style="font-size: 15px;">
        {{ req_type }}
      </ion-col>      

    

  </ion-item>

  <ion-item>

   

      <ion-col size="1" size-md="4" size-lg="2" style="font-size: 15px;">
        4.
      </ion-col>  
  
      <ion-col size="4" size-md="4" size-lg="2" style="font-size: 15px;">
        Request Initiator Id
      </ion-col> 

      <ion-col  size-md="4" size-lg="2" style="font-size: 15px;">
        {{ req_initiator_id }}
      </ion-col>      

   

  </ion-item>

  <ion-item class="item_background">

    

      <ion-col size="1" size-md="4" size-lg="2" style="font-size: 15px;">
        5.
      </ion-col>  
  
      <ion-col size="4" size-md="4" size-lg="2" style="font-size: 15px;">
        Request sent on
      </ion-col> 

      <ion-col size-md="4" size-lg="2" style="font-size: 15px;">
        {{ req_date }}
      </ion-col>      

   

  </ion-item>

  <ion-item >

   

      <ion-col size="1" size-md="4" size-lg="2" style="font-size: 15px;">
        6.
      </ion-col>  
  
      <ion-col size="4" size-md="4" size-lg="2" style="font-size: 15px;">
        Request Budget
      </ion-col> 

      <ion-col  size-md="4" size-lg="2" style="font-size: 15px;">
        {{ req_budget }}
      </ion-col>      

   

  </ion-item>


  <ion-item class="item_background">

   

      <ion-col size="1" size-md="4" size-lg="2" style="font-size: 15px;">
        7.
      </ion-col>  
  
      <ion-col size="4" size-md="4" size-lg="2" style="font-size: 15px;">
        Request Description
      </ion-col> 

      <ion-col  size-md="4" size-lg="2" style="font-size: 15px;">
        {{ req_description }}
      </ion-col>      

    
  </ion-item>

  <ion-item>

    

      <ion-col size="1" size-md="4" size-lg="2" style="font-size: 15px;">
        8.
      </ion-col>  
  
      <ion-col size="4" size-md="4" size-lg="2" style="font-size: 15px;">
        Request Status
      </ion-col> 

      <ion-col size-md="4" size-lg="2" style="font-size: 15px;">
        {{ req_status }}
      </ion-col>      

    

  </ion-item>

  <ion-item class="item_background">

    

      <ion-col size="1" size-md="4" size-lg="2" style="font-size: 15px;">
        9.
      </ion-col>  
  
      <ion-col size="4" size-md="4" size-lg="2" style="font-size: 15px;">
        Last Approved By
      </ion-col> 

      <ion-col  size-md="4" size-lg="2" style="font-size: 15px;">
        {{ last_approve }}
      </ion-col>      

  

  </ion-item>
    
  </ion-list>



</ion-content>
