<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

<ion-header [translucent]="true">
  <ion-toolbar class="grad">

    <ion-buttons slot="start" style="color: white;">
      <ion-back-button ></ion-back-button>
    </ion-buttons>

    <ion-title style="color: white; align-items: center;">AmbienceMax</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>

    <ion-tab-bar slot="top">

      <ion-tab-button tab="view-request">
        <ion-label>Requests</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="view-logs">
        <ion-label>Logs</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="view-status">
        <ion-label>Status</ion-label>
      </ion-tab-button>


    </ion-tab-bar>


  </ion-tabs>

</ion-content>
