<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

<ion-header [translucent]="true">
  <ion-toolbar class="grad">

    <ion-buttons slot="start" style="color: white;">
      <ion-back-button ></ion-back-button>
    </ion-buttons>

    <ion-title style="color: white; align-items: center;">AmbienceMax</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>

    <ion-tab-bar slot="top">

      <ion-tab-button tab="view-request" class="tab_button">
        <ion-label style="font-size: 13px;">Requests</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="view-logs" class="tab_button">
        <ion-label style="font-size: 13px;">Logs</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="view-status" class="tab_button">
        <ion-label style="font-size: 13px;">Status</ion-label>
      </ion-tab-button>

    </ion-tab-bar>


  </ion-tabs>

</ion-content>
