<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

<ion-header [translucent]="true">
  <ion-toolbar class="grad">

    <ion-buttons slot="start" style="color: white;">
      <ion-back-button ></ion-back-button>
    </ion-buttons>

    <ion-title style="color: white; align-items: center;">AmbienceMax</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <h5 style="text-align: center; color: black; font-size: 22px;">Open Requests</h5>
  
  <ion-searchbar style="--clear-button-color:rgb(255, 153, 0); --icon-color:rgb(255, 153, 0);" placeholder="Search Title here.." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>

  <ion-card>

    <ion-row class="header-row">

      <ion-col  style="font-size: 18px; text-align: center; width: 50%; color: black; font-weight: bold;">
        Requester Id
      </ion-col> 
  
      <ion-col  style="font-size: 18px; width: 50%;color: black; font-weight: bold;">
        Request Title
      </ion-col> 
    

    </ion-row>

  </ion-card>


  <ion-card *ngFor="let row of dataSource | filter: filterTerm ; let i = index;"
  (click) = 'RequestService.viewReq = row; RequestService.ReqId = row.req_id; RequestService.getViewStatus(row.req_id); UserDataService.getWorkFlow(row.req_id); UserDataService.viewReq = row; UserDataService.ReqId=row.req_id'
    routerLink="/open-view-request">

    <ion-row *ngIf = "i % 2 === 0" id="card_backgound_request">  

      <ion-col style="font-size: 15px; text-align: center; width: 50%; color: black;">
        {{ row.req_initiator_id }}
      </ion-col>
  
      <ion-col style="font-size: 15px; width: 50%; color: black;">
        {{ row.req_title }}
      </ion-col>
  
    </ion-row>


    <ion-row *ngIf = "i % 2 === 1">

      <ion-col  style="font-size: 15px; text-align: center; width: 50%; color: black;">
        {{ row.req_initiator_id }}
      </ion-col> 
  
      <ion-col  style="font-size: 15px; width: 50%; color: black;">
        {{ row.req_title }}
      </ion-col>

    <!-- <ion-col size="2" size-md="4" size-lg="2">
      <button
      color = "warn"
      *ngIf = "UserDataService.userRole !== 8"
      (click) = 'RequestService.viewReq = row; RequestService.ReqId = row.req_id' 
      routerLink="/open-view-request">
        View
      </button>
    </ion-col>

    <ion-col size="2" size-md="4" size-lg="2">
      <button
      color = "accent"
      (click) = 'RequestService.viewReq = row; RequestService.getViewStatus(row.req_id)'
      routerLink = "/view-status">
       View Status
      </button>
    </ion-col> -->

  </ion-row>

</ion-card>



</ion-content>